            @font-face {
                font-family: "inter";
                font-weight: 400;
                font-style: normal;
                src: url("inter-400.woff2") format("woff2");
                font-display: swap;
            }

            @font-face {
                font-family: "inter";
                font-weight: 700;
                font-style: normal;
                src: url("inter-700.woff2") format("woff2");
                font-display: swap;
            }

            @font-face {
                font-family: "inter";
                font-weight: 900;
                font-style: normal;
                src: url("inter-900.woff2") format("woff2");
                font-display: swap;
            }
            /* ROOT */

             :root {
                --bodyBgPink: #FEAFC3;
                --bodyBgBlue: #69A9FF;
                --bodyBgYellow: #FCC850;
                --bodyText: #2D3440;
                --btnWhite: #FCFCFC;
                --btnRed: #FF2F64;
            }

            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            a {
                text-decoration: none;
                color: var(--bodyText);
            }

            ul {
                list-style: none;
            }

            body {
                font-family: "inter";
                font-size: 16px;
                line-height: 24px;
                background-color: var(--bodyBgPink);
                color: var(--bodyText);
            }

            .button {
                display: inline-block;
                font-family: inherit;
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                padding: 12px 32px;
                color: #FCFCFC;
                background: #FF2F64;
                border: 4px solid rgba(255, 47, 100, 0.3);
                box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
                border-radius: 26px;
                background-clip: padding-box;
            }

            .button-link {
                display: inline-block;
                font-family: inherit;
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                padding: 12px 32px;
                background: #FCFCFC;
                border: 4px solid rgba(252, 252, 252, 0.4);
                border-radius: 26px;
                background-clip: padding-box;
            }

            .container {
                max-width: 1140px;
                width: 100%;
                padding: 0 15px;
                margin: 0 auto;
            }
            /* HEADER */

            .logo__img {
                margin: 24px 0;
            }

            .navigation__item:not(:last-child) {
                margin-right: 16px;
            }

            .navigation__link {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                padding: 8px 0;
            }

            .navigation__link-user {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                padding: 6px 0;
            }
            /* MAIN */
            /* slider */

            .slider {
                margin-bottom: 80px;
            }

            .slider__title {
                font-weight: 900;
                font-size: 36px;
                line-height: 46px;
            }

            .pagination__slider {
                display: block;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: #FCFCFC;
                border: 0px;
                opacity: 0.3;
                margin-right: 8px;
            }

            .pagination__current {
                opacity: 1;
            }
            /* STOCK */

            .stock {
                margin-bottom: 81px;
            }

            .stock__title {
                font-weight: 900;
                font-size: 32px;
                line-height: 46px;
                margin-bottom: 55px;
                text-align: center;
            }

            .stock__one {
                background: #FF7799;
                border-radius: 16px;
                padding: 36px;
            }

            .stock__two {
                background: #FF7799;
                border-radius: 16px;
                padding: 36px;
            }

            .stock__subtitle {
                margin-bottom: 28px;
                font-weight: 700;
                font-size: 24px;
                line-height: 30px;
            }

            .stock__desc {
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 28px;
            }
            /* CARDS */

            .cards__title {
                font-weight: 900;
                font-size: 32px;
                line-height: 46px;
                text-align: center;
                margin-bottom: 107px;
            }

            .card {
                background: #FCFCFC;
                border-radius: 8px;
                position: relative;
                max-width: 270px;
                height: 281px;
                margin-bottom: 20px;
                padding: 0 40px;
            }

            .card__image {
                display: block;
                position: absolute;
                top: 10%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                filter: drop-shadow(0px 4px 12px rgba(45, 52, 64, 0.1));
            }

            .card__title {
                padding-top: 133px;
                text-align: center;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
            }

            .cards__desc {
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: #565C66;
                text-align: center;
            }

            .price {
                padding: 20px 0 28px 0;
                text-align: left;
            }
            /* INFO */

            .info {
                padding: 24px;
                background-image: url("../images/wafer.jpg");
                border-radius: 16px;
                margin-bottom: 80px;
            }

            .info__bg {
                background: #FFFFFF;
                border-radius: 16px;
                padding: 40px 56px;
            }

            .info__title {
                font-weight: 900;
                font-size: 32px;
                line-height: 46px;
                text-align: center;
                padding-bottom: 56px;
            }

            .info__desc {
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: #565C66;
            }
            /* NEWS */

            .news {
                margin-bottom: 80px;
            }

            .new {
                padding: 32px;
                background-image: url("../images/news.jpg");
                border-radius: 16px;
                max-width: 570px;
            }

            .new__desc {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #565C66;
                padding-bottom: 12px;
            }

            .new__title {
                font-weight: 700;
                font-size: 24px;
                line-height: 30px;
            }

            .distribution {
                background-image: url("../images/follow.jpg");
                border-radius: 16px;
                padding: 6px;
                max-width: 570px;
            }

            .distribution__bg {
                background: #FFFFFF;
                border-radius: 16px;
                padding: 26px;
            }

            .distribution__desc {
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: #565C66;
                padding-bottom: 44px;
            }

            input[type="email"] {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #B9B9B9;
                padding: 14px 16px;
                margin-right: 18px;
                border: 1px solid #B9B9B9;
                border-radius: 4px;
                background: #FFFFFF;
            }
            /* DELIVERY */

            .delivery {
                background-image: url("../images/delivery.jpg");
                display: flex;
                margin-bottom: 80px;
            }

            .delivery__title {
                font-weight: 900;
                font-size: 32px;
                line-height: 46px;
                margin-left: 100px;
                margin-top: 167px;
            }

            .delivery__desc {
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                margin-left: 100px;
                margin-right: 129px;
                margin-top: 24px;
                margin-bottom: 100px;
                color: #565C66;
            }

            .delivery__form {
                background: #FCFCFC;
                box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
                border-radius: 8px;
                margin-top: 68px;
                margin-bottom: 60px;
                height: 406px;
                width: 500px;
            }

            .delivery__form-desc {
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: #565C66;
                padding-bottom: 32px;
                margin-left: 46px;
                margin-top: 24px;
            }

            .appointment-form__date {
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                display: flex;
                flex-direction: column;
                width: 117px;
                margin-left: 46px;
            }

            .appointment-form__phone {
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                display: flex;
                flex-direction: column;
            }

            .appointment-form-adress {
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                display: flex;
                flex-direction: column;
                margin-left: 57px;
                margin-right: 23px;
            }

            .date-tel {
                display: flex;
            }

            input[type="text"] {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #B9B9B9;
                padding: 14px;
                margin-right: 16px;
                border: 1px solid #B9B9B9;
                border-radius: 4px;
                background: #FFFFFF;
                margin-top: 8px;
            }

            input[type="tel"] {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #B9B9B9;
                padding: 14px 16px;
                margin-right: 16px;
                border: 1px solid #B9B9B9;
                border-radius: 4px;
                background: #FFFFFF;
                margin-top: 8px;
                margin-bottom: 20px;
                width: 287px;
            }

            .delivery__button {
                margin-top: 41px;
                margin-left: 181px;
            }
            /* COMUNICATION */

            .communication {
                background-image: url("../images/feed-back.jpg");
                background-position: center;
                border-radius: 16px;
                padding: 64px;
            }

            .communication__info {
                background: #FCFCFC;
                box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
                border-radius: 8px;
                max-width: 343px;
                padding: 40px;
            }

            .communication__desc {
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: #565C66;
                padding-bottom: 12px;
            }

            .communication__adress {
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                color: #565C66;
                margin-bottom: 24px;
            }

            .communication__tel {
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                color: #2D3440;
            }

            .communication .button {
                margin-top: 24px;
            }
            /* FOOTER  */

            .footer__desc {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
            }

            .footer__desc-one {
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
            }

            .footer__desc-academy {
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
            }
            /* CATALOG*/

            .inner-header {
                margin-bottom: 16px;
            }

            .breadcrumbs__item {
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
            }

            .inner-header__title {
                font-weight: 900;
                font-size: 32px;
                line-height: 46px;
                margin-bottom: 40px;
            }
            /* FORM */

            .catalog-filter__item {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
            }

            .select-control {
                background: #FCFCFC;
                opacity: 0.3;
                border-radius: 20px;
                padding: 8px 16px;
                color: #2D3440;
            }

            .product-checkbox {
                background: rgba(252, 252, 252, 0.3);
                border-radius: 18px;
                padding: 10px 24px;
                max-width: 604px;
            }

            .button-form {
                background: rgba(252, 252, 252, 0.3);
                color: #2D3440;
                border: 2px solid #FCFCFC;
                border-radius: 20px;
                padding: 8px 52px;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
            }

            .pagination__link {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
            }

            .pagination-current {
                background: #FCFCFC;
                border-radius: 76px;
                width: 24px;
                height: 24px;
                padding: 2px 7px;
            }
