*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: "inter";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "inter";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "inter";
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}


/* ROOT */

 :root {
    --bodyBgPink: rgb(254, 174, 194);
    --bodyBgBlue: rgb(105, 169, 255);
    --bodyBgYellow: rgb(252, 200, 80);
    --bodyText: #2D3440;
    --btnWhite: #FCFCFC;
    --btnRed: #FF2F64;
}


body {
    margin: 0;
    font-family: "inter", serif;
    font-size: 16px;
    line-height: 24px;
    background-color: var(--bodyBgPink);
    color: var(--bodyText);
    transition: background-color 0.5s ease;
    display: flex;
    flex-direction: column;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    display: inline-block;
    border: none  ;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding: 12px 32px;
    color: var(--btnWhite);
    background: var(--btnRed);
    box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3);
    border-radius: 26px;
    background-clip: padding-box;
    cursor: pointer;
    transition: background 1s, box-shadow 1s;
}

.button:hover {
    background: rgba(252, 252, 252, 0.3);
    color: var(--bodyText);
    box-shadow: 0 0 0 4px rgb(255, 47, 100);
}

.button:focus {
    background: #FF2F64;
    color: var(--btnWhite);
    box-shadow:0 0 0 2px rgb(45, 52, 64), 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button:active {
    background: #FEAFC3;
    box-shadow:0 0 0 2px rgb(45, 52, 64), 0 4px 12px rgba(45, 52, 64, 0.1);
    color: var(--btnWhite);
}

.button:disabled {
    background: #B9B9B9;
    box-shadow:0 0 0 4px rgba(185, 185, 185, 0.3);
    color: #565C66;
}

.button-link {
    cursor: pointer;
    color: var(--bodyText);
    text-decoration: none;
    border: none;
    display: inline-block;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding: 12px 32px;
    background: #FCFCFC;
    box-shadow:0 0 0 4px rgba(252, 252, 252, 0.4), 0 4px 12px rgba(45,62,64,0.1);
    border-radius: 26px;
    background-clip: padding-box;
    transition: background 1s, box-shadow 1s;
}

.button-link:hover {
    background: rgba(252, 252, 252, 0.4);
    box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15), 0 0 0 4px rgb(252, 252, 252);
}

.button-link:focus {
    background: rgba(252, 252, 252, 0.5);
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1), 0 0 0 2px rgb(45, 52, 64) ;
}

.button-link:active {
  color: var(--btnWhite);
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1), 0 0 0 2px rgb(45, 52, 64);
}

.button-link:disabled {
    background: #E7E7E7;
    box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4);
    color: #B9B9B9;
}

.button-link:default {
  color: var(--btnWhite);
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1),0 0 0 4px rgba(252, 252, 252, 0.4);
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* HEADER */

/* POPOVER */

.cart-information {
    display: none;
    position: absolute;
    margin-top: 55px;
    right: 0;
    background: #FCFCFC;
    padding: 48px 32px;
    width: 288px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
    border-radius: 4px;

}

.popover:hover,
.navigation__item:focus-within > .popover {
    display: inline-block;
}

.cart-information .popover-title {
    margin-bottom: 0;
}

.popover-active {
    display: inline-block;
}

.popover {
    margin-top: 20px;
    position: absolute;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    width: 441px;
    padding: 48px;
    background: #FCFCFC;
    border-radius: 4px;
    display: none;
}

.popover-content {
    height: 100%;
}

.popover-close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 20x;
    height: 20px;
    display: none;
}

.cart__content {
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.cart__item {
    list-style: none;
    margin-left: -60px;
}

.cart-item-button {
    background: none;
    border: none;
    cursor: pointer;
}

.popover-title {
    margin: 0;
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.cart__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--bodyText);
}

.cart__desc {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #B9B9B9;
}

.cart__img {
    margin-right: 16px;
}

.cart-button-delete {
    background: none;
    border: none;
    cursor: pointer;
    background-image: url("../images/icons/close.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 16px;
    width: 16px;
}

.user-popover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #E7E7E7;
    padding-top: 32px;
}

/* AUTORIZATION */

.authorization-active {
    display: inline-block;
}

.authorization {
    position: absolute;
    z-index: 10;
    top: 90px;
    right: 130px;
    background: #FCFCFC;
    border-radius: 4px;
    padding: 48px;
    width: 420px;
    display: none;
}

.authorization__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--bodyText);
    margin-top: 0;
    margin-bottom: 32px;
}

.autorization-users {
    margin-top: 20px;
    display: flex ;
    justify-content: flex-start ;
}

.users-link {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 23px;
}

.users-link a {
    border-bottom: 1px solid #2D3440;

}

.authorization:hover,
.navigation__item:focus-within > .authorization {
    display: inline-block;
}

/* SEARCH */

.search-modal {
    position: absolute;
    z-index: 1;
    top: 85px;
    right: 220px;
    filter: drop-shadow(0 8px 16px rgba(45, 52, 64, 0.12));
    background: #FCFCFC;
    border-radius: 4px;
    padding: 24px 16px;
    width: 356px;
    display: none;
}

.search-form input {
    width: 100%;
    margin: 0;
}

.search-close {
    position: absolute;
    top: -5px;
    right: 10px;
    cursor: pointer;
    background-image: url("../images/icons/close.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 10px;
    width: 10px;
    margin: 10px;
    padding: 5px;
    display: none;
}

.search-close button {
    background: none;
    border: none;
}

.search-modal label {
    position: relative;
}

.search-modal:hover,
.navigation__item:focus-within > .search-modal {
    display: inline-block;
}

/* NAV-MODAL */

.nav-item {
    position: absolute;
    top: 90px;
    left: 160px;
    z-index: 2;
    list-style: none;
    background: #FCFCFC;
    box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
    border-radius: 4px;
    padding: 4px 16px;
    transition-duration: 1s;
    display: none;
}

.nav-item:hover,
.navigation__item:focus-within > .nav-item {
    display: inline-block;
}

.navigation-link {
    display: block;
    padding: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.navigation-link:hover {
    background: #FFCBD8;
}

.navigation-link:active {
    background: #FF7799;
}

.navigation-link-current {
    background: #FF4A78;
    color: #FCFCFC;
}

.catalog-new {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    margin-left: 6px;
    margin-top: 12px;
    margin-bottom: 0;
}

.catalog-new::after {
    content: " ";
    display: inline-block;
    width: 100%;
    border: 1px solid #B9B9B9;
    transform: rotate(180deg);
}

/* NAVIGATION */

.navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navigation__list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: -3px;
}

.logo {
    display: block;
    margin: 24px 0;
}

.navigation__item:not(:last-child) {
    margin-right: 20px;
}

.navigation__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 6px 12px;
    transition: background 0.8s;
    border-radius: 30px;
    color: var(--bodyText);
}

.nav-catalog{
    margin-right: -11px;
}

.about{
    margin-left: -10px;
}

.navigation__link:hover {
    background: rgba(252, 252, 252, 0.5);
}

.navigation__link:focus {
    background: rgba(252, 252, 252, 0.5);
    box-shadow: 0 0 0 2px rgb(45, 52, 64);;
}

.navigation__link:active {
    background: #FCFCFC;

}

.navigation__link-user {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 0;
}

.link-current {
    background: #FF4A78 ;
    color: #FCFCFC;
    box-shadow: 0 0 0 2px #FF4A78;

}
.link-current:active {
    color: var(--bodyText);

}

.tel {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-right: -12px;
}

.icons {
    background: rgba(252, 252, 252, 0.3);
    font-size: 14px;
    padding-right: 16px;
    padding-left: 14px;
    display: flex;
    align-items: center;
}

.icons::before {
    content: '';
    display: inline-block;
    background-color: currentColor;
    width: 14px;
    height: 14px;
    margin-right: 9px;
    -webkit-mask-size: 100%;
    mask-size: 100%;
}
.icons__search{
    padding: 5px 9px;
    margin-right: -5px;
    margin-left: 0;
}
.icons__search::before {
    -webkit-mask-image: url("../images/icons/search.svg");
    mask-image: url("../images/icons/search.svg");
    padding: 0;
    margin: 3px 0;
}

.icons__enter::before {
    margin-right: 5px;
    margin-left: 5px;
    -webkit-mask-image: url("../images/icons/log-in.svg");
    mask-image: url("../images/icons/log-in.svg");
}

.icons__cart::before {
    -webkit-mask-image: url("../images/icons/cart.svg");
    mask-image: url("../images/icons/cart.svg");
}

.icons:active {
    border: none;
}

/* MAIN */

.main-index {
    flex-grow: 1;
}

/* slider */

.slide.active {
    display: flex;
    order:-1;
    margin-right: auto;
}
.slide.active > .slide__inner{
    display: block;
}

.slider {
    display: flex;
    gap: 40px;
    position: relative;
}

.slide__inner {
    width: 470px;
    display: none;
    flex-direction: column;
    justify-content: center;
    margin-left: 70px;
    margin-right: 21px;
}

.slide__inner.active{
    display: flex;
}

.slide__title {
    margin-top: 134px;
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 24px;
}

.slide__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 48px;
    max-width: 414px;
    word-wrap: break-word;
}

.slide__img{
    width: 100%;
    height: auto;

}

.slide__bg {
    position: relative;
    width: 100px;
    opacity: 0.4;
    display: grid;
    height: 100%;
    place-items: center;
    padding-top: 5px;

}

.slide.active > .slide__bg{
    width: auto;
    opacity: 1;
    padding-right: 5px;
    padding-top: 14px;
}

.slide__bg::before {
    content: '';
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #FFCBD8;
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    z-index: -1;
}

.slide.active > .slide__bg::before{
    width: 310px;
    height: 310px;
}

.order {
    width: 139px;
}

.sliders__buttons {
    display: flex;
    justify-content: space-between;
    width: 346px;
    position: absolute;
    top: 256px;
    left: 544px;
}

.slider__button{
    display: block;
    cursor: pointer;
    margin: 0;
    border: none;
    border-radius: 50%;
    background:rgba(252, 252, 252, 0.3);
    box-shadow: 0 0 0 2px rgb(252, 252, 252);
    width: 34px;
    height: 34px;
}

.slider__button::before{
    content: "";
    display: block;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    background:rgba(252, 252, 252);
    -webkit-mask-image: url("../images/icons/select.svg");
    mask-image: url("../images/icons/select.svg");
    padding: 11px;
}

.slider__prev{
    transform: rotate(90deg);
}

.slider__next{
    transform: rotate(-90deg);
}

.slider__button:hover{
    background:rgb(252, 252, 252);
}

.slider__button:hover::before{
    background:rgb(45, 52, 64);
}

.slider__button:active{
    box-shadow: none;
    background: rgba(252, 252, 252, 0.5)
}

.slider__button:active::before{
    background:rgb(45, 52, 64);
}

.slider__button:focus{
    box-shadow: 0 0 0 2px rgb(45, 52, 64);
    background: rgba(252, 252, 252, 0.5)
}

.slider__button:focus::before{
    background:rgb(45, 52, 64);
}

.slider__button:disabled{
    opacity: 0.5;
}

.slider__button:disabled::before{
    opacity: 0.5;
}

.slider__user {
    margin: 0;
    margin-bottom: 73px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
}

.pagination {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 12px;
}

.social__item {
    list-style: none;
}

.pagination__slider {
    cursor: pointer;
    display: inline-block;
    width: 12px;
    height: 13px;
    border-radius: 50%;
    background: #FCFCFC;
    opacity: 0.5;
    border: 1px solid #FCFCFC;
    margin-right: 6px;
}

.pagination__current {
    opacity: 1;
}

.pagination__slider:hover {
    background: rgba(252, 252, 252, 0.3);
    opacity: 1;
}

.pagination__slider:active {
    opacity: 0.5;
    border: none;
    width: 14px;
    height: 13px;
}

.pagination__slider:focus {
    background: rgba(252, 252, 252, 0.3);
    border: 1px solid #2D3440;
    opacity: 1;
}

.social__list {
    display: flex;
    margin: 0;
    padding: 0;
}

.social__item {
    margin-left: 16px;
}

.social__icons::before {
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-size: 100%;
    background-clip: content-box;
    box-shadow: inset 0 0 0 1px#fff, 0 0 0 2px hsl(0deg 0% 100% / 30%);
    opacity: 1;
    transition: background 0.5s;
    margin-top: 7px;
}

.social__icons--youtube::before {
    background-image: url("../images/icons/youtube.svg");
}

.social__icons--vk::before {
    background-image: url("../images/icons/vk.svg");
}

.social__icons--telegramm::before {
    background-image: url("../images/icons/telegram.svg");
}

.social__icons:hover::before {
    background-color: #2D3440;
}

.social__icons:active::before {
    opacity: 0.5;
}

.social__icons:focus::before {
    background-color: #2D3440;
    box-shadow: 0 0 0 2px#2D3440;
}

/* STOCK */

.stock {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    margin-bottom: 83px;
}

.stock__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    margin-bottom: 55px;
    text-align: center;
}

.stock__one {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #FF7799;
    border-radius: 16px;
    padding: 0;
    padding-left: 36px;
    padding-right: 0;
}

.stock__img {
    display: flex;
    align-self: flex-end;
    margin-left: 15px;
    margin-top: -5px;
}

.stock__button {
    max-width: 185px;
    margin-bottom: 36px;
    width: 176px;
}

.stock__item {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.stock__two {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #FF7799;
    border-radius: 16px;
    padding-left: 36px;
}

.stock__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-top: 36px;
    margin-bottom: 26px;
}

.stock__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 28px;
    width: 320px;
    word-wrap: break-word;
}


/* CARDS */

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 31px;
    row-gap: 30px;
    margin-bottom: 78px;
}

.cards__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 45px;
}

.card {
    background: #FCFCFC;
    border-radius: 8px;
    position: relative;
    max-width: 270px;
    min-height: 281px;
    margin-top: 60px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: scale(1);
    transition: transform 0.8s;
}

.card:hover {
    transform: scale(1.05);
}

.card__image {
    display: block;
    margin: 0 auto;
    margin-top: -26%;
    filter: drop-shadow(0 4px 12px rgba(45, 52, 64, 0.1));
}

.card__link {
    padding: 1px;
    display: block;
}

.card__title {
    margin-top: 13px;
    margin-bottom: -8px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.card__desc {
    display: inline-block;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
    word-wrap: break-word;

}

.for-users {
  margin-top: 5px;
    display: flex;
    justify-content: space-between ;
    align-items: flex-start;
}

.price {
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 26px;
}

.card__icon {
    background: var(--btnRed);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-top: -6px;
}

.card__icon::before {
    content: " ";
    -webkit-mask-image: url("../images/icons/cart.svg");
    mask-image: url("../images/icons/cart.svg");
    -webkit-mask-size: 100%;
    mask-size: 100%;
    display: inline-block;
    background-color: #FCFCFC;
    width: 14px;
    height: 14px;
    margin: 10px 9px;
}

.card__icon:hover {
    background: rgba(252, 252, 252, 0.3);
    border: 2px solid #FF2F64;
}

.card__icon:hover::before {
    background-color: currentColor;
    margin: 8px 7px;
}

.card__icon:focus {
    border: 2px solid #2D3440;
    background: #FF2F64;
}

.card__icon:focus::before {
    background-color: #FCFCFC;
    margin: 8px 7px;
}

.card__icon:active {
    background: #FFCBD8;
    border: 2px solid #FF2F64;
}

.card__icon:active::before {
    background-color: currentColor;
    margin: 8px 7px;
}

.card__icon:disabled {
    background: #B9B9B9;
}

.card__icon:disabled::before {
    background-color: #565C66;
}


/* INFO */

.info {
    padding: 24px;
    background-image: url("../images/wafer.jpg");
    background-repeat: no-repeat;
    border-radius: 16px;
    background-size: cover;
    margin-bottom: 77px;
}

.info__bg {
    background: #FFFFFF;
    border-radius: 16px;
    padding: 40px 20px;
}

.info__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    margin-top: 18px;
    padding-bottom: 28px;
}

.info__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 40px;
    margin: 0 20px;
    margin-bottom: 20px;
}

.info__item {
    display: flex;
    align-items: flex-start;

}

.info__icons-icecream {
    background-image: url("../images/icons/ice-cream.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #2D3440;
    margin-right: 16px;
    border-radius: 50%;
    min-width: 48px;
    min-height: 48px;
}

.info__icons-leaf {
    background-image: url("../images/icons/leaf.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #2D3440;
    margin-right: 16px;
    border-radius: 50%;
    min-width: 48px;
    min-height: 48px;
}

.info__icons-cow {
    background-image: url("../images/icons/cow.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #2D3440;
    margin-right: 16px;
    border-radius: 50%;
    min-width: 48px;
    min-height: 48px;
}

.info__icons-term {
    background-image: url("../images/icons/thermometer.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #2D3440;
    margin-right: 16px;
    border-radius: 50%;
    min-width: 48px;
    min-height: 48px;
}

.info__desc {
    min-width: 440px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
    margin: 0;
    word-wrap: break-word;
}

/* NEWS */

.news {
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.new {
    padding: 32px;
    background-image: url("../images/news.jpg");
    background-repeat: no-repeat;
    border-radius: 16px;
    background-size: cover;
}

.new__desc {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #565C66;
    padding-bottom: 14px;
}

.new__title {
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--bodyText);
}

.distribution {
    background-image: url("../images/follow.jpg");
    border-radius: 16px;
    padding: 6px;
    max-width: 570px;
}

.distribution__bg {
    background: #FFFFFF;
    border-radius: 16px;
    padding: 26px;
}

.distribution__desc {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
    padding-bottom: 44px;
    word-wrap: break-word;
}
.distribution__form{
    display: flex;

}
.distribution__form input{
    width: 330px;
    margin-right: 30px;

}

/* DELIVERY */

.delivery {
    background-color: #fcfcfc85;
    background-image: url("../images/delivery.jpg");
    display: flex;
    border-radius: 16px;
    margin-bottom: 80px;
}

.delivery__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    margin-top: 0;
    margin-bottom: 24px;
}

.delivery__info {
    margin-left: 100px;
    margin-top: 167px;
    margin-bottom: 15px;
}

.delivery__desc {
    width: 371px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-right: 24px;
    color: #565C66;
    word-wrap: break-word;
}

.appointment-form {
    display: grid;
    column-gap: 16px;
    grid-template-columns: 117px 287px;
}

.delivery__form {
    background: #FCFCFC;
    box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
    border-radius: 8px;
    padding: 40px;
    margin: 64px;
    margin-left: 111px;
    height: 406px;
    width: 500px;
}

.delivery__form-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
    padding-bottom: 32px;
    margin: 0;
    margin-right: 40px;
    word-wrap: break-word;
}

.appointment-form__date {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    width: 117px;
}
/* TOOLTIP */

.tooltip {
    position: relative;
    margin-top: 4px;
}

.tooltip-toggle {
    display: inline-block;
    width: 13px;
    height: 13px;
    -webkit-mask-image:url("../images/icons/help.svg");
    mask-image: url("../images/icons/help.svg");
    -webkit-mask-size: 100%;
    mask-size: 100%;
    background-color: var(--bodyText);
    color:var(--bodyText);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 2px;
}

.tooltip-text {
    margin-left: 10px;
    position: absolute;
    top: -22px;
    left: 22px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #565C66;
    padding: 10px 15px;
    width: 146px;
    background: #FCFCFC;
    filter:drop-shadow(0 2px 12px rgba(173, 152, 143, 0.18));
    border-radius: 1px;
    border: 2px solid #B9B9B9;
    display: none;
}

.tooltip-text:before {
    content: '';
    background-color: #fff;
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: #B9B9B9;;
    border-radius: 1px;
    width: 14px;
    height: 14px;
    position: absolute;
    transform: rotate(224deg);
    top: 23px;
    left: -8px;
}

.tooltip-toggle:hover+.tooltip-text,
.tooltip-toggle:focus+.tooltip-text {
    display: block;
}

.form-label-icon {
    position: relative;
    padding-right: 16px;
}

.appointment-form__phone {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
}

.appointment-form-adress {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    grid-column: 1/-1;
}

.date-tel {
    display: flex;
}

/* INPUTS */

input[type="tel"] {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--bodyText);
    padding: 14px 16px;
    margin-right: 16px;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
    background: #FFFFFF;
    margin-top: 8px;
    margin-bottom: 20px;
    width: 287px;
}

input[type="text"] {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--bodyText);
    padding: 14px;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
    background: #FFFFFF;
    margin-top: 8px;
}

input[type="password"] {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--bodyText);
    padding: 14px;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
    background: #FFFFFF;
    margin-top: 8px;
}

input[type="email"] {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--bodyText);
    padding: 14px 16px;
    margin-right: 18px;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
    background: #FFFFFF;
}


/* Hover, Focus */
.field {
    outline: none;
}
.field:hover {
    box-shadow:0 0 0 1px #2D3440;
}

.field:focus {
    box-shadow:0 0 0 2px #2D3440;
}


/* Disabled */

.field:disabled:hover {
   opacity: 1;
}

.field:disabled {
    background: #E7E7E7;
    box-shadow:0 0 0 1px #B9B9B9;
    opacity: 0.65;
}


/* Invalid */


.field:focus:invalid,
.field:not(:placeholder-shown):not(:focus):invalid {
    box-shadow:0 0 0 1px #EA5454;
}

/* Placeholder */

.field::placeholder {
    color: #B9B9B9;
}

.delivery__button {
    grid-column: 1/-1;
    justify-self: center;
    margin-top: -5px;
}


/* COMUNICATION */

.communication {
    background-color: #fcfcfc85;
    background-image: url("../images/feed-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 17px;
    padding: 64px;
}

.communication__info {
    background: #FCFCFC;
    box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
    border-radius: 8px;
    max-width: 343px;
    padding: 40px;
}

.adress {
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.adress a {
    text-decoration: none;
}

.communication__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
    margin-top: 0;
    padding-bottom: 12px;
    word-wrap: break-word;
}
.communication__desc2{   font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #565C66;
    margin-top: 2px;
    padding-bottom: 12px;
    word-wrap: break-word
}
.communication__adress {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #565C66;
    margin-top: -18px;
    margin-bottom: 24px;
}

.communication__tel {
    margin-top: -16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
}
.communication__button{
    width: 250px;
    margin-top: 8px;
}

/* FOOTER  */

.page-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 57px;
}

.footer__info {
    display: flex;
    flex-wrap: wrap;
    margin-left: 95px;
}

.footer__desc {
    padding-bottom: 8px;
    list-style: none;
}

.footer__information{
    margin-left: -12px;
}

.footer-social__item {
    list-style: none;
}

.footer__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.footer__link{
    text-decoration: none;
    color: var(--bodyText);
}

.footer__link:hover{
    border-bottom: 1px solid black;
}


.footer__desc-one {
    position: relative;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.footer__desc-one::before {
    position: absolute;
    top: 3px;
    left: -21px;
    padding-right: 9px;
    content: '';
    display: inline-block;
    background: url("../images/icons/like.svg") no-repeat;
    min-width: 14px;
    min-height: 12px;
    color: #2D3440;
}

.footer__desc-academy {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

.footer-social__list {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-left: -10px;
}

.footer__logo{
  margin-top: 15px;
  margin-right: 16px;
}

/* CATALOG*/

.inner-header {
    margin-top: 29px;
    margin-bottom: 16px;
}

.breadcrumbs {
    display: flex;
    padding: 0;
}

.breadcrumbs__link {
    line-height: 18px;
    text-decoration: none;
    margin: 0;
    margin-right: 5px;
    color: var(--bodyText);
}

.breadcrumbs__link::after {
    content: "";
    display: inline-block;
    background-image: url("../images/icons/arrow2x.svg");
    width: 7px;
    height: 6px;
    margin-right: 6px;
    margin-left: 10px;
    margin-bottom: 2px;
}

.breadcrumbs__link-active{
    line-height: 18px;
    text-decoration: none;
    margin: 0;
    margin-right: 5px;
    border-bottom: 2px solid #2D3440;
    color: var(--bodyText);
}

.breadcrumbs__item {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    list-style: none;
}

.inner-header__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    margin-bottom: 17px;
    margin-top: 16px;
}

/* CATALOG */


/* FORM */


/* Range */

.range {
    width: 196px;
}

.range-checkbox {
    display: flex;
    background: rgba(252, 252, 252, 0.3);
    border-radius: 18px;
    padding: 10px 15px;
    max-width: 604px;
    height: 36px;
}

.range-scale {
    position: relative;
    height: 4px;
    width: 100%;
    margin-top: 5px;
    background-color: rgb(86, 92, 102, 0.3);
    border-radius: 2px;
}

.range-bar {
    top: 0;
    position: absolute;
    height: 4px;
    background-color: #565C66;
}

.range-toggle {
    position: absolute;
    width: 16px;
    height: 16px;
    background: #2D3440;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.range-bg-button {
    display: block;
    background: #FCFCFC;
    height: 4px;
    width: 4px;
    border-radius: 50%;
}

.range-toggle:hover {
    background: #FCFCFC;
}

.range-toggle:hover .range-bg-button {
    background: #2D3440;
}

.range-toggle:active .range-bg-button {
    background: #2D3440;
}

.range-toggle:focus {
    background: #FCFCFC;
    outline: 2px solid #2D3440;
}

.range-toggle:focus .range-bg-button {
    background: #2D3440;
}

.toggle-min {
    top: -6px;
    left: 0;
}

.toggle-max {
    top: -6px;
    right: 0;
}

.range-wrapper-inputs {
    display: flex;
    align-items: center;
}

.range-desc{
    margin: 0;
    padding: 0;
    padding-left: 2px;
    padding-bottom: 3px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.catalog-filter-label {
    display: flex;
    margin-right: 5px;
}

.range-input {
    width: 30px;
    padding: 0 2px;
    margin-left: -9px;
    font: inherit;
    text-align: center;
    background-color: transparent;
    border: none;
    -webkit-appearance: textfield;
            appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
            appearance: none;
    margin: 0;
}


.catalog-filter__group {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    border: none;
}

.filter__group {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: -26px;
}

.catalog-filter__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.catalog-filter__group {
    padding-left: 0;
}

.form__desc {
    margin: 0 ;
    margin-right: 10px;
    padding: 8px 16px;
    padding-right: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.desc__range {
  padding-right: -2px;
}

.catalog-products {
    margin-bottom: 47px;
}

.catalog-filter__item {
    padding-right: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    list-style: none;
    position: relative;
}

.select-control {
    -webkit-appearance: none;
            appearance: none;
    border-radius: 20px;
    padding: 8px 15px;
    padding-right: 68px;
    color: #2D3440;
    background-color: rgba(252, 252, 252, 0.3);
    background-image: url("../images/icons/select.svg");
    background-repeat: no-repeat;
    background-position: bottom 9px right 11px;
    font-size: 14px;

}

.select-icon {
    transform: rotate(90deg);
    font-size: 18px;
    position: absolute;
    top: 60%;
    left: 160px;
}

.select-control:focus {
    opacity: 0.4;
    outline: 2px solid #FCFCFC;
}

.control {
    margin-right: 9px;
    margin-left: 7px;
}

/* input checkbox */

.control__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__input+label {
    display: inline-flex;
    align-items: center;
    -webkit-user-select: none;
            user-select: none;
    cursor: pointer;
}

.control__input+label::before {
    content: "";
    -webkit-mask-image: url("../images/icons/input-disabled.svg");
    mask-image: url("../images/icons/input-disabled.svg");
    -webkit-mask-size: 100%;
    mask-size: 100%;
    display: inline-block;
    background-color: #2D3440;
    width: 15px;
    height: 15px;
    margin-right: 8px;
    flex-shrink: 0;
    flex-grow: 0;
    cursor: pointer;
}

.control__input:checked+label::before {
    content: "";
    -webkit-mask-image: url("../images/icons/input-active.svg");
    mask-image: url("../images/icons/input-active.svg");
    background-color: #2D3440;
}

.control__input+label:hover::before {
    background-color: #FCFCFC;
}

.control__input:disabled+label::before {
    opacity: 0.5;
}
.control__input:focus+label::before{
  background-color: #FCFCFC;
}

/* input-Radio */

.control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control-input+label {
    display: inline-flex;
    align-items: center;
    -webkit-user-select: none;
            user-select: none;
    cursor: pointer;
}

.control-input+label::before {
    content: "";
    -webkit-mask-image: url("../images/icons/radio-off.svg");
    mask-image: url("../images/icons/radio-off.svg");
    -webkit-mask-size: 100%;
    mask-size: 100%;
    display: inline-block;
    background-color: #2D3440;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    flex-shrink: 0;
    flex-grow: 0;
    cursor: pointer;
}

.control-input:checked+label::before {
    content: "";
    -webkit-mask-image: url("../images/icons/radio-on.svg");
    mask-image: url("../images/icons/radio-on.svg");
    background-color: #2D3440;
}

.control-input:focus+label::before {
    background-color: #FCFCFC;
}

.control-input+label:hover::before {
    background-color: #FCFCFC;
}

.control-input:disabled+label::before {
    opacity: 0.5;
}

.product-checkbox {
    display: flex;
    align-items: center;
    align-content: center;
    background: rgba(252, 252, 252, 0.3);
    border-radius: 18px;
    padding: 17px 19px;
    max-width: 604px;
    height: 36px;
    margin-bottom: -3px;
}

.product-checkbox-input {
  padding: 21px 20px;
}

.pagination__item {
    list-style: none;
}

.pagination__link {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: 25px;
    height: 25px;
    border-radius: 76px;
    padding: 2px 7px;
    color: var(--bodyText);
}

.pagination__link:hover {
    background: rgba(252, 252, 252, 0.5);
}

.pagination__link:active {
    border: 1px solid #FCFCFC;
    background: rgba(252, 252, 252, 0.5);
}

.pagination__link:focus {
    border: 1px solid #2D3440;
    background: rgba(252, 252, 252, 0.5);
}

.pagination-current {
    background: #FCFCFC;
}

.pagination-catalog {
    display: flex;
}

.more-product {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: -26px;
    margin-bottom: 76px;
}

.more-product .button-link{
    margin-left: 200px;
}

.button-form {
    cursor: pointer;
    background: rgba(252, 252, 252, 0.3);
    color: #2D3440;
    border: 2px solid #FCFCFC;
    border-radius: 20px;
    padding: 9px 52px;
    font-size: 14px;
    margin-bottom: 14px;
    margin-left: -8px;
    transition: background 0.5s;
    width: 190px;
}

.button-form:hover {
    background: #FCFCFC;
    border: 2px solid rgba(252, 252, 252, 0.3);
}

.button-form:active {
    background: rgba(252, 252, 252, 0.5);
}

.button-form:disabled {
    background: rgba(252, 252, 252, 0.3);
    opacity: 0.4;
    border: 2px solid #FCFCFC;
}

/* modal-window */

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal {
    position: relative;
    margin: auto;
    padding: 64px;
    background: #FCFCFC;
    box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
    border-radius: 8px;
}

.modal-auth {
    width: 570px;
}

.modal-close-button {
    position: absolute;
    padding: 0;
    top: 32px;
    right: 37px;
    border: none;
    cursor: pointer;
    background: none;
    background-image: url("../images/icons/close.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 20px;
    width: 20px;
}

.modal-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--bodyText);
    margin-bottom: 32px;
}

.auth-form .field-group {
    margin: 0;
    margin-bottom: 16px;
}

.auth-form-user-options {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
}

.auth-form-user-options .control-label {
    font-weight: 400;
}

.auth-form .field {
    width: 100%;
}

.auth-form-recovery {
    line-height: 22px;
    color: #000000;
}

.auth-form-button {
    margin-top: 16px;
    float: right;
}

.auth-form .button+.button {
    margin: 0;
}

.auth-form-register {
    width: 360px;
    color: #000000;
    background-color: #ffffff;
}

.textarea {
    font-size: 16px;
    line-height: 20px;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
    resize: none;
}

.modal-container-close {
    display: none;
}
